@model FooBox.Models.EditInvitationsViewModel

@{
    ViewBag.Title = "Invitations";
}


<h2>@ViewBag.Subheading</h2>
<h4>Invitations</h4>



<p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Invite <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="inviteUsers" href="#">Users</a></li>
            <li><a id="inviteGroup" href="#">Groups</a></li>
        </ul>
    </div>
</p>
<table class="table table-hover">
    <tr>
        <th>
            User
        </th>
        <th>
            Timestamp
        </th>
        <th>
            Accepted
        </th>
        <th>

        </th>
    </tr>

    @for (int i = 0; i < Model.FolderInvitations.Count(); ++i)
    {
        var item = Model.FolderInvitations[i];
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td class="col-md-1">
                @if (item.Accepted)
                {
                    <span class="label label-success">Accepted</span>
                }
                else
                {
                    <span class="label label-default">Pending</span>
                }
            </td>
            <td id="@("inv" + @i)" class="col-md-1">
                <a href="#" class="deleteLink">Delete</a>
                <!-- Confirm Delete -->
                <div class="confirmDeleteDialog" id="@("confirminv" + @i)" style="display:none;">
                    @using (@Html.BeginForm("DeleteInvitation", "Invitation", new { id = item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.FullName)
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        <button type="button" class="delCancelButton btn btn-sm btn-default">Cancel</button>
                    }
                </div>

            </td>
        </tr>
    }

</table>



<div class="modal fade" id="usersModal">
    <div class="modal-dialog">
        <div class="modal-content">
        @using (@Html.BeginForm("NewInvitation", "Invitation", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
        {
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Invite Users</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.UsersToInvite, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @for (int i = 0; i < Model.UsersToInvite.Count(); ++i)
                        {
                            @Html.HiddenFor(model => model.UsersToInvite[i].Id)
                            @Html.CheckBoxFor(model => model.UsersToInvite[i].IsSelected)
                            @Html.DisplayFor(model => model.UsersToInvite[i].Name)
                            @Html.HiddenFor(model => model.UsersToInvite[i].Name)
                            <br>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Invite</button>
            </div>
            @Html.HiddenFor(model => model.FullName)
        }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="groupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (@Html.BeginForm("NewInvitation", "Invitation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Invite Groups</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GroupsToInvite, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @for (int i = 0; i < Model.GroupsToInvite.Count(); ++i)
                            {
                                @Html.HiddenFor(model => model.GroupsToInvite[i].Id)
                                @Html.CheckBoxFor(model => model.GroupsToInvite[i].IsSelected)
                                @Html.DisplayFor(model => model.GroupsToInvite[i].Name)
                                @Html.HiddenFor(model => model.GroupsToInvite[i].Name)
                                <br>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Invite</button>
                </div>
                @Html.HiddenFor(model => model.FullName)
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    $("document").ready(function () {
        $("#inviteUsers").click(function () {
            $('#usersModal').modal("show");
        });
        $("#inviteGroup").click(function () {
            $('#groupModal').modal("show");
        });
        $(".deleteLink").click(function () {
            $(this).hide();
            var it = $(this).closest('td').attr('id');
            $("#confirm" + it).show('slide');
        });
        $(".delCancelButton").click(function () {
            $(".confirmDeleteDialog").hide();
            $(".deleteLink").show('slide');
        });
    });
</script>