@using FooBox.Models;
@model FileBrowseViewModel

@{
    ViewBag.Title = Model.DisplayName;
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "randomKeyResult",
        Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}
<div class="modal fade" role="dialog" id="shareLinkModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Sharing Link</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="shareLinkTextBox" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<h2>
    @foreach (var parent in Model.Parents)
    {
        <strong>@Html.ActionLink(parent.Item1, "Browse", new { path = parent.Item2 })</strong>
        @:&gt;
    }
    <strong>@Model.DisplayName</strong>
</h2>
<p>@Html.ValidationSummary(true)</p>
<div class="row">
    <div class="col-md-3">
        <button id="newFolderButton" class="btn btn-sm btn-primary">
        New Folder 
        </button>

        @using (var form = @Html.BeginForm("NewFolder", "File", new { FromPath = Model.FullDisplayName }))
        {
            <div >
                <div id="newFolderDialog" class="input-group" style="display:none;">
                    <input id="newFolderName" name="newFolderName" class="form-control" type="text" placeholder="Folder Name" style="width: 200px;">
                    <span class="input-group-btn">
                        <button type="submit" id="newFolderSubmitButton" class="btn btn-default btn-primary">Create</button>
                        <button id="newFolderCancelButton" class="btn btn-default">Cancel</button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<br>
<div class ="row"> 
    <div class="col-md-6">
        @using (var form = @Html.BeginForm("Upload", "File", new { FromPath = Model.FullDisplayName }, FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
        {
            <strong>Upload:</strong> <input type="file" id="UploadFile" name="UploadFile" style="display: inline">
        }
    </div>


</div>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Last Modified
        </th>
    </tr>

    @for (int i = 0; i < Model.Files.Count(); ++i)
    {
        var item = Model.Files[i];
        <tr>
            <td>
                @{
                    string iconClass = item.IsFolder ? "glyphicon-folder-close" : "glyphicon-file";
                    @Html.Raw("<span class='glyphicon " + iconClass + "'></span>"); 
                }
            </td>
            <td class="col-md-6" id="@("file" + @i)">
                <div class="col-md-6">
                    <div id="@("nameFieldfile" + @i)" class="fileName">
                        @Html.ActionLink(item.DisplayName, "Browse", new { path = item.FullDisplayName })
                    </div>
                    @using(@Html.BeginForm("Rename", "File", new { fromPath = Model.FullDisplayName, oldFileDisplayName = item.DisplayName }))
                     {
                    <div class="input-group renameDialog" id="@("renameFieldfile" + @i)" style="display:none;">
                        <input class="form-control" name="newFileDisplayName" id="@("newFileDisplayNamefile" + @i)" type="text" placeholder="@item.DisplayName" style="width: 200px;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-primary">Rename</button>
                            <button class="delCancelButton btn btn-default">Cancel</button>
                        </span>
                    </div><!-- /input-group -->
                     }

                </div>
                <!-- Split button -->
                <div class="col-md-1 btn-group">
                    <button type="button" class="btn btn-xs btn-link dropdown-toggle" id="@("dropdownfile" + @i)" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @if (!item.IsFolder)
                        {
                            <li>@Html.ActionLink("Version History", "DisplayVersionHistory", new { fullName = item.FullDisplayName })</li>
                            <li>@Ajax.ActionLink("Get Sharing Link", "GetShareLink", new { fullName = item.FullDisplayName },
                             new AjaxOptions { UpdateTargetId = "shareLink", OnSuccess = "onSharingLinkSuccess" }, new { @class = "getShareLink" })</li>
                            <li class="divider"></li>
                        } 
                        else
                        { 
                            <li>@Html.ActionLink("Set Permissions", "FolderEdit", new { fullName = item.FullDisplayName })</li>
                            <li class="divider"></li>
                        }
                        <li><a href="#" class="renameLink">Rename</a></li>
                        <li><a href="#" class="deleteLink">Delete</a></li>
                    </ul>
                </div>
                <!-- Confirm Delete -->
                <div class="confirmDeleteDialog" id="@("confirmfile" + @i)" style="display:none;">
                    @using (var form1 = @Html.BeginForm("Delete", "File", new { fromPath = Model.FullDisplayName, fileDisplayName = item.DisplayName }))
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        <button type="button" class="delCancelButton btn btn-sm btn-default">Cancel</button>
                    }
                </div>
            </td>
            <td>
                @Html.Encode(item.IsFolder ? "-" : Utilities.SizeToString(item.Size))
            </td>
            <td>
                @Html.Encode(item.IsFolder ? "-" : item.TimeStamp.ToLocalTime().ToString("F"))
            </td>
        </tr>
    }

    @if (Model.Files.Count == 0)
    {
        <tr>
            <td>
                <em>No files to display.</em>
            </td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

<p>
    Your quota usage:
    @using (var userManager = new FooBox.Models.UserManager())
    {
        var user = userManager.FindUser(FooBox.Models.IdentityExtensions.GetUserId(User.Identity));
        
        <strong>@Html.Encode(Utilities.SizeToString(user.QuotaCharged))</strong>
        @:out of
        if (user.QuotaLimit == long.MaxValue)
        {
            <strong>unlimited</strong>
        }
        else
        {
            <strong>@Html.Encode(Utilities.SizeToString(user.QuotaLimit))</strong>
            @:limit
        }
    }
</p>
<span id="shareLink" class="hidden"></span>
<script>
    $("document").ready(function () {
        $("#UploadFile").change(function () {
            var files = $("#UploadFile").prop("files");

            if (files.length < 1)
                return;

            $("#UploadForm").submit();
        });
        $(".deleteLink").click(function () {
            var it = $(this).closest('td').attr('id');
            $("#dropdown" + it).hide();
            $("#confirm" + it).show('slide');
        });
        $(".renameLink").click(function () {
            var it = $(this).closest('td').attr('id');
            $("#dropdown" + it).hide();
            $("#nameField" + it).hide();
            $("#renameField" + it).show('slide');

            var renameInput = $("#newFileDisplayName" + it);
            var existingName = renameInput.attr("placeholder");
            var lastIndexOfDot = existingName.lastIndexOf(".");

            renameInput.val(existingName);

            if (lastIndexOfDot != -1 && lastIndexOfDot != existingName.length - 1) {
                renameInput[0].select();
                renameInput[0].selectionStart = 0;
                renameInput[0].selectionEnd = lastIndexOfDot;
            } else {
                renameInput[0].select();
            }
        });
        $(".delCancelButton").click(function () {
            $(".confirmDeleteDialog").hide();
            $(".renameDialog").hide();
            $(".fileName").show('slide');
            $(".dropdown-toggle").show('slide');
            return false;
        });
        $(".getShareLink").click(function () {
        });
        $("#newFolderButton").click(function () {
            $("#newFolderButton").hide();
            $("#newFolderDialog").show('slide');
            $("#newFolderName").val("");
            $("#newFolderName")[0].select();
            return false;
        });
        $("#newFolderSubmitButton").click(function () {
            $("#newFolderDialog").hide();
            $("#newFolderButton").show('slide');
        });
        $("#newFolderCancelButton").click(function () {
            $("#newFolderDialog").hide();
            $("#newFolderButton").show('slide');
            return false;
        });
        $("#shareLinkTextBox").click(function () {
            $(this).focus();
            $(this).select();
        });
        
    });
    $("")
    function onSharingLinkSuccess() {
        $("#shareLinkTextBox").val($("#shareLink").html());
        $("#shareLinkModal").modal('show');
    }
</script>

<p id="debug"></p>