@using FooBox.Models;
@model FileBrowseViewModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>
    @foreach (var parent in Model.Parents)
    {
        <strong>@Html.ActionLink(parent.Item1, "Browse", new { path = parent.Item2 })</strong>
        @:&gt;
    }
    <strong>@Html.Encode(Model.DisplayName)</strong>
</h2>
<p>@Html.ValidationSummary(true)</p>
<div>
    @using (var form = @Html.BeginForm("Upload", "File", new { FromPath = Model.FullDisplayName }, FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <strong>Upload:</strong> <input type="file" id="UploadFile" name="UploadFile" style="display: inline">
    }
</div>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Last Modified
        </th>
    </tr>

    @foreach (var item in Model.Files)
    {
        <tr>
            <td>
                @Html.ActionLink(item.DisplayName, "Browse", new { path = item.FullDisplayName })
            </td>
            <td>
                @Html.Encode(item.IsFolder ? "-" : Utilities.SizeToString(item.Size))
            </td>
            <td>
                @Html.Encode(item.IsFolder ? "-" : item.TimeStamp.ToLocalTime().ToString("F"))
            </td>
        </tr>
    }

    @if (Model.Files.Count == 0)
    {
        <tr>
            <td>
                <em>No files to display.</em>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    }
</table>

<script>
    $("document").ready(function () {
        $("#UploadFile").change(function () {
            var files = $("#UploadFile").prop("files");

            if (files.length < 1)
                return;

            $("#UploadForm").submit();
        })
    });
</script>
