@using FooBox.Models
@model VersionHistoryViewModel

@{
    ViewBag.Title = "Version History";
    bool first = true;
}

<h2>Version history for @Html.Encode(Model.DisplayName)</h2>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Revision Date</th>
                <th>Size</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var version in Model.Versions)
        {
            <tr>
                <td class="vert-align">@Html.Encode(version.TimeStamp.ToLocalTime().ToString("F"))</td>
                <td class="vert-align">@Html.Encode(Utilities.SizeToString(version.Size))</td>
                <td class="vert-align">@Html.ActionLink("Download", "DownloadVersion", new { id = version.VersionId }, new { @class = "btn btn-link" })</td>
                <td class="vert-align">
                    @{
                        if (!first)
                        {
                            using (Html.BeginForm("RevertVersion", "File", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.Hidden("fullName", Model.FullDisplayName)
                                @Html.Hidden("versionId", version.VersionId)
                                <input type="submit" value="Revert" class="btn btn-link" />
                            }
                        }
                        first = false;
                    }
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
