@using Microsoft.AspNet.Identity
@model FooBox.Models.EditFolderViewModel

@{
    ViewBag.Title = "Edit Permissions";
}

<h2>@ViewBag.Title</h2>

<h4>@ViewBag.Subheading</h4>
<hr />
@using (Html.BeginForm("FolderEdit", "File", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @for (int i = 0; i < Model.Users.Count(); ++i)
            {
                @Html.HiddenFor(model => model.Users[i].Id)
                @Html.CheckBoxFor(model => model.Users[i].IsSelected)
                @Html.DisplayFor(model => model.Users[i].Name)
                <br>
            }

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Groups, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @for (int i = 0; i < Model.Groups.Count(); ++i)
            {
                @Html.HiddenFor(model => model.Groups[i].Id)
                @Html.CheckBoxFor(model => model.Groups[i].IsSelected)
                @Html.DisplayFor(model => model.Groups[i].Name)
                <br>
            }

        </div>
    </div>

    @*<div class="checkbox">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <label>
                @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "checkbox" })
                Admin
            </label>
            @Html.ValidationMessageFor(model => model.IsAdmin)
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div id="actionButtons">
                <input type="submit" class="btn btn-primary" value="Save" />
          
            </div>
        </div>
    </div>
}

<!-- Confirm Delete -->
<div id="confirmDeleteDialog" class="form-group" style="display:none;">
    <div class="col-md-offset-2 col-md-10">
        @using (var form1 = Html.BeginForm("FolderEdit", "File", new { id = Model.Id }))
        {
            @Html.AntiForgeryToken()
            <button type="button" id="delCancelButton" class="btn btn-default">Cancel</button>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
