@model IEnumerable<FooBox.Group>

@{
    ViewBag.Title = "Group";
}

<h2>Groups</h2>



<p>
    @Html.ActionLink("Create New", "GroupCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.State == ObjectState.Normal) 
    {   
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "GroupEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "GroupDelete", new { id=item.Id })
        </td>
    </tr>
    }
}

</table>
