@model FooBox.Models.AdminEditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @using (Html.BeginForm("UserEdit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("UserEditForm")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div id="actionButtons">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <input type="button" id="deleteButton" class="btn btn-warning" value="Delete" />
                </div>
            </div>
        </div>
    }
    <!-- Confirm Delete -->
    <div id="confirmDeleteDialog" class="form-group" style="display:none;">
        <div class="col-md-offset-2 col-md-10">
            @using (var form1 = Html.BeginForm("UserDelete", "User", new { id = Model.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" id="delCancelButton" class="btn btn-default">Cancel</button>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $("document").ready(function () {
        $("#deleteButton").click(function () {
            $("#confirmDeleteDialog").show('slide');
            $("#actionButtons").hide();
        });
        $("#delCancelButton").click(function () {
            $("#confirmDeleteDialog").hide();
            $("#actionButtons").show('slide');
        });
    });
    $("")
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
